# misc
node_modules
.angular
dist
out-tsc
.DS_Store

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
.vscode/*
.history/

# System files
Thumbs.db
Desktop.ini
*.swp
*~
.nyc_output
coverage
lib-cov
*.seed
*.log

# Optional npm cache directory
.npm
.eslintcache