<div class="welcome-page">
  <div class="card">
    <img src="assets/images/sr-3.jpg" alt="sr-logo" class="logo" />

    <h2 class="title">SR09192835</h2>
    <p class="subtitle">Your Digital Gateway</p>

    <h3 class="welcome">Welcome</h3>
    <p class="description">
      Access your world securely — fast, reliable, and simple.
    </p>

    <div class="buttons">
      <button ibmButton="primary" (click)="goToLogin()">Login</button>
      <button ibmButton="secondary" (click)="goToSignup()">Signup</button>
    </div>
  </div>
</div>
