/* Keep content between header and footer without overflow */
.app-main {
  min-height: calc(100vh - 105px); /* header 60 + footer 45 */
  background-color: #d8f8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
