.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
